* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}


h1 {
  border:5px solid red;
  text-align:center;
  
}

h2 {
  height:60px;
}

h3 {
  font-size:50px;
}







