* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.header {
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}

.header-list{
  float:left;
}

.header-list li {
  flaot:left;
  padding:33px 20px;
font-size:40px
  
}  


 







