li {
  list-style:none;
}




body {
  margin: 0;
  font-family: "Avenir Next","Hiragino KakuGothic ProN W3",sans-serif;
}

.header {
.header-logo {
  float:left;
  font-size:36px;
  padding:20px 40px;
}

.header-list{
  float:left;
}

.header-list li {
  float:left;
  padding:30px 30px 50px 70px;
  font-color:block;
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}


  
}  

.main {
  padding:100px 80px;
}

.copy-container h1 {
  font-size:50px;
}

.copy-container h2{
  font-size:30px;
}







